body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  text-align: center;
  margin: 0;
  padding: 0;
}

header{
    background-color: #5CBD76;
}
.navbar{
    width: 100%;
    height: 200px;
}
img{
    width: 55%;
    margin-top: 2.5rem;
    margin-left: 3rem;
    filter:drop-shadow(2px 2px 2px black) ;  
}
.logo{
    width:30%;
    display: flex;  
}
h2 {
  color: #333;
}

.login-box {
  margin: 100px auto;
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}
input, button {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  background: #007bff;
  color: white;
  border: none;
}
button:hover {
  background: #0056b3;
}
